<h3>CHARACTER STATISTICS</h3>

<div class="wrapper">
  <div class="stat-row" *ngFor="let stat of stats">
    <div class="stat-name">{{ stat.name }}</div>
    <div class="stat-value">{{ stat.value }}</div>
    <div class="stat-button" (click)="increase(stat)" [ngClass]="initialStatPoints === 0 ? 'btnOff' : ''"></div>
  </div>
</div>


<div class="pointsContainer">
  <h3 class="pointsLeft">STAT POINTS LEFT: {{ initialStatPoints >= 0 ? initialStatPoints : 0 }}</h3>
  <div class="resetBtn" (click)="resetStats()">
    <img src="../assets/photos/btnReset.png" alt="reset button">
  </div>
</div>
