<div *ngIf="!authService.isAuthenticated">
  <h3> PLEASE {{ isLoginIn ? 'SING UP' : 'LOG IN'}} </h3>

  <div class="loginError" *ngIf="error">
    {{error}}
  </div>

  <div class="loadSpinner" *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>


  <form (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="!isLoading">

    <div class="username">
      <p>EMAIL </p>
      <input class="input1" type="email" id="email" ngModel name="email" required email>
    </div>
    <br>
    <div class="email">
      <p>PASSWORD</p>
      <input class="input2" type="password" id="password" ngModel name="password" required minlength="6">
    </div>

    <button class="loginBtn" type="submit" [disabled]="!f.valid"> {{isLoginIn ? 'SIGN UP' : 'LOG IN'}} </button>

    <div class="signIn">
      <p class="signInP">
        {{ isLoginIn ? 'ALREADY GOT AN ACCOUNT? PLEASE LOG IN!' : 'HERE FOR THE FIRST TIME? SIGN UP!'}}
      </p>
      <button class="signInBtn" (click)="onSwitchMode()" type="button"> {{isLoginIn ? 'LOG IN' : 'SIGN UP' }} </button>
    </div>
  </form>

</div>
