<div class="alert" *ngIf="alert.isVisible">
  <img src="../assets/photos/alert.png" class="alertImg">
  <p>ARE YOU SURE YOU WANT TO PICK {{startingValues.name}} ?</p>
  <div (click)="createChar(); btnReset();">
    <img src="../assets/photos/btnYesUnfocused.png" class="btnYesUnfocused">
    <img src="../assets/photos/btnYesFocused.png" class="btnYesFocused">
  </div>
  <div (click)="cancelAlert()">
    <img src="../assets/photos/btnNoUnfocused.png" class="btnNoUnfocused">
    <img src="../assets/photos/btnNoFocused.png" class="btnNoFocused">
  </div>

</div>
