<ng-container [ngSwitch]="dataStorageService.startingValues.name">

  <h3 *ngSwitchDefault> {{dataStorageService.startingValues.name}} EQUIPMENT</h3>

  <div (click)="showArmor()">
    <img src="../assets/photos/armorslot.png" class="armor">
    <div *ngIf="equipment.armorUrl"><img src={{equipment.armorUrl}} class="arm1" loading="lazy">
    </div>
    <div class="hideArmor">CHOOSE ARMOR</div>
  </div>


  <div (click)="showHelmet()">
    <img src="../assets/photos/headslot.png" class="helmet">
    <div *ngIf="equipment.helmPicked === 'tiara'"> <img src="../assets/photos/assassin/assaHelmets/assatiaraSelect.png"
        class="helm1">
    </div>
    <div *ngIf="equipment.helmPicked === 'crown'"> <img src="../assets/photos/assassin/assaHelmets/assacrownSelect.png"
        class="helm1 helm2">
    </div>
    <div *ngIf="equipment.helmPicked === 'horned'"> <img
        src="../assets/photos/assassin/assaHelmets/assarogatySelect.png" class="helm1 helm2">
    </div>
    <div *ngIf="equipment.helmPicked === 'bone'"> <img src="../assets/photos/assassin/assaHelmets/assaboneSelect.png"
        class="helm1 helmBone">
    </div>

    <div class="hideHelmet">CHOOSE HELMET</div>
  </div>


  <img src="../assets/photos/glovesslot.png" class="gloves">
  <div class="hideGloves">CHOOSE GLOVES</div>
  <img src="../assets/photos/bootsslot.png" class="boots">
  <div class="hideBoots">CHOOSE BOOTS</div>

  <div (click)="showWeapon()">
    <img src="../assets/photos/weaponslot.png" class="weapon">
    <div *ngIf="equipment.weaponPicked === 'claws'"><img
        src="../assets/photos/assassin/assaWeapons/assapazurySelect.png" class="wep1">
    </div>
    <div *ngIf="equipment.weaponPicked === 'axe'"><img src="../assets/photos/assassin/assaWeapons/assaaxeSelect.png"
        class="wep1">
    </div>
    <div *ngIf="equipment.weaponPicked === 'cristalSword'"><img
        src="../assets/photos/assassin/assaWeapons/assakrysztalowymieczSelect.png" class="wep1"></div>
    <div *ngIf="equipment.weaponPicked === 'flail'"><img
        src="../assets/photos/assassin/assaWeapons/assakorbaczSelect.png" class="wep1">
    </div>
    <div class="hideWeapon">CHOOSE WEAPON</div>


  </div>

  <!-- ASSA -->
  <ng-container *ngIf="showWeapons && startingValues.name === 'ASSASSIN'">
    <div class="weaponSelect">
      <div class="weapdiv" (click)="pickClaws()">
        <img src="../assets/photos/assassin/assaWeapons/assapazurySelect.png" class="weapImg">
        <p class="pwep">CLAWS</p>
      </div>
      <div class="weapdiv" (click)="pickAxe()">
        <img src="../assets/photos/assassin/assaWeapons/assaaxeSelect.png" class="weapImg">
        <p class="pwep">AXE</p>
      </div>
      <div class="weapdiv" (click)="pickCristalSword()">
        <img src="../assets/photos/assassin/assaWeapons/assakrysztalowymieczSelect.png" class="weapImg">
        <p class="pwep">CRISTAL SWORD</p>
      </div>
      <div class="weapdiv" (click)="pickFlail()">
        <img src="../assets/photos/assassin/assaWeapons/assakorbaczSelect.png" class="weapImg">
        <p class="pwep">FLAIL</p>
      </div>
    </div>

  </ng-container>

  <ng-container *ngIf="showHelmets && startingValues.name === 'ASSASSIN'">
    <div class="helmetSelect">
      <div class="helmdiv" (click)="pickTiara()">
        <img src="../assets/photos/assassin/assaHelmets/assatiaraSelect.png" class="helmImg">
        <p class="pwep">TIARA</p>
      </div>
      <div class="helmdiv" (click)="pickBone()">
        <img src="../assets/photos/assassin/assaHelmets/assaboneSelect.png" class="helmImg">
        <p class="pwep">BONE HELM</p>
      </div>
      <div class="helmdiv" (click)="pickRogaty()">
        <img src="../assets/photos/assassin/assaHelmets/assarogatySelect.png" class="helmImg">
        <p class="pwep">HORNED HELM</p>
      </div>
      <div class="helmdiv" (click)="pickCrown()">
        <img src="../assets/photos/assassin/assaHelmets/assacrownSelect.png" class="helmImg">
        <p class="pwep">CROWN</p>
      </div>
    </div>

  </ng-container>

  <div (click)="showShield()">
    <img src="../assets/photos/shieldslot.png" class="shield">
    <div *ngIf="equipment.shieldPicked === 'boneShield'"><img
        src="../assets/photos/equipment/shields/boneShieldSelect.png" class="shield1">
    </div>
    <div *ngIf="equipment.shieldPicked === 'barbedShield'"><img
        src="../assets/photos/equipment/shields/spikedShieldSelect.png" class="shield1">
    </div>
    <div *ngIf="equipment.shieldPicked === 'pavise'"><img src="../assets/photos/equipment/shields/paviseSelect.png"
        class="shield1">
    </div>
    <div class="hideShield">CHOOSE SHIELD</div>
  </div>

  <ng-container *ngIf="showShields && startingValues.name === 'ASSASSIN'">
    <div class="shieldSelect">
      <div class="shielddiv" (click)="pickBoneShield()">
        <img src="../assets/photos/equipment/shields/boneShieldSelect.png" class="shieldImg">
        <p class="pwep">BONE SHIELD</p>
      </div>
      <div class="shielddiv" (click)="pickBarbedShield()">
        <img src="../assets/photos/equipment/shields/spikedShieldSelect.png" class="shieldImg">
        <p class="pwep">BARBED SHIELD</p>
      </div>
      <div class="shielddiv" (click)="pickPavise()">
        <img src="../assets/photos/equipment/shields/paviseSelect.png" class="shieldImg">
        <p class="pwep">PAVISE</p>
      </div>
    </div>

  </ng-container>


  <ng-container *ngIf="showArmors">
    <div class="armorSelect">
      <div class="armdiv" (click)="pickLightArmor()"> <img src="../assets/photos/armors/leatherArmor.png" class="armImg"
          loading="eager">
        <p>LIGHT</p>
      </div>
      <div class="armdiv" (click)="pickMediumArmor()"> <img src="../assets/photos/armors/ringMail.png" class="armImg"
          loading="eager">
        <p>MEDIUM</p>
      </div>
      <div class="armdiv" (click)="pickHeavyArmor()"> <img src="../assets/photos/armors/fullPlateMail.png"
          class="armImg" loading="eager">
        <p>HEAVY</p>
      </div>
    </div>
  </ng-container>









</ng-container>
