h3{
    position: relative;
    color: rgb(211, 211, 211);
    font-size: 3vh;
    text-align: center;
    top:10%;
    animation: fadeIn 1s;
   }
 .armor, .arm1, .gloves, .boots, .helmet, .weapon, .wep1,  .shield, .helm1, .shield1 {
    position: absolute;
    opacity: .9;
    
}   
   .armor {

    top: 43%;
    left: 41.5%;
    width: 17%;
    height: 30%;
   }
   .arm1 {
    top:45%;
    left: 43.3%;
    width: 14%;
    height: 25%;
    opacity: 1;
   }
   .gloves {
    top: 66%;
    left: 25%;
    width: 12%
   }
   .helmet {
    top: 20%;
    left: 44%;
    width:12%;
   }
   .boots {
    top: 66%;
    right: 25%;
    width: 12%
   }
   .weapon {
    left: 23%;
    top: 30%;
    width: 12%
   }
   .wep1{
      top:33%;
      left:23%;
      width: 13%;
      height: 22%;
   }
   .shield1{
      top:33%;
      left:64.5%;
      width: 13%;
      height: 22%;
   }
   .helm1{
      top:20%;
      left:45%;
      width: 10%;
      height: 15%;
   }
   .helm2{
      
      width: 12%;
      height: 15%;
      left:44%;
   }
   .shield {
    right: 23%;
    top: 30%;
    width: 12%
   }

    .shield:hover, .weapon:hover, .helmet:hover, .armor:hover, .boots:hover, .gloves:hover {
    opacity: 1;
    transform: scale(1.01);
   }
   .hideArmor, .hideShield, .hideGloves, .hideBoots, .hideHelmet, .hideWeapon {
    
    position: absolute;
    color: white;
    background-color: black;
    display: none;
    font-size: 2vh;
    width: 18%;
    text-align: center;
   }

   .hideArmor {
    width: 20%;
    top: 40%;
    left: 40%;
   }
   .hideBoots {
    top: 63%;
    right: 22%;
   }
   .hideGloves {
    top: 63%;
    left: 22%;
   }
   .hideHelmet {
    top: 17%;
    left: 41%;
   }
   .hideShield {
    right: 20%;
    top: 27%;
   }
   .hideWeapon {
    left: 20%;
    top: 27%;
   }
 
   .armor:hover + .hideArmor, .gloves:hover + .hideGloves,  .boots:hover + .hideBoots,  .helmet:hover + .hideHelmet, .weapon:hover + .hideWeapon, .shield:hover + .hideShield {
    display: block;
   }
  
   .armorSelect, .weaponSelect, .helmetSelect, .shieldSelect {
    position: absolute;
    width: 50%;
    height: 30%;
    top: 6%;
    left: 25%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    align-items: center;
    opacity: .93;
    border-radius: 5px;
   }
   .weaponSelect {
      width: 60%;
      top: -5%;
      left: 0%
   }
   .shieldSelect {
    left: 45%;
    top: -3%;

   }
   .helmetSelect {
      top: -10%;
      width: 60%;
      height: 25%;
      left:20%;
   }
   .weapdiv {
      /* position: relative; */
      top: 0;
      display: inline;
      flex-basis: 25%;
      width: 25%;
      height: 100%;
   }
   .helmdiv {
      /* position: relative; */
      top: 0;
      display: inline;
      flex-basis: 25%;
      width: 15%;
      height: 80%;
   }
.shielddiv {
   top: 0;
      display: inline;
      flex-basis: 33.3%;
      width: 15%;
      height: 100%;
}
   .weapImg {
      top:5%;
      position: relative;
      width: 75%;
      height: 70%;
   }
   .pwep {
      position: relative;
      top:10%;
   }
   .helmImg {
      top:5%;
      position: relative;
      width: 75%;
      height: 70%;
   }
   .shieldImg {
      top:5%;
      position: relative;
      width: 75%;
      height: 75%;
   }

   .armdiv {
    top: 13%;
 display: flex;
     display: inline; 
    flex-basis: 33.3%; 
    opacity: .93
   }
/*    .armImg {
      position: relative;
      width: 80%;
      height: 45%;
   }
    */
   p {
    text-align: center;
    color: white;
    font-size: 1em;
   }
   .armdiv:hover, .weapdiv:hover, .helmdiv:hover, .shielddiv:hover {
    opacity: 1;
    transform: scale(1.03);
    border: solid 1px white;
    border-radius: 3px;
    box-shadow: -1px 1px 88px -8px rgb(255, 255, 255);

   }