<ng-template [ngIf]="startingValues.navActive">
  <div class="navmenu" [ngClass]="startingValues.navAnimation === '1' ? 'navAnimation' : ''">
    <a [routerLink]="[startingValues.name | lowercase, 'statistics']"
      [ngClass]="startingValues.navOpacity === '1' ? 'active' : ''">STATISTICS</a>
    <a [routerLink]="[startingValues.name | lowercase, 'skills']"
      [ngClass]="startingValues.navOpacity === '1' ? 'active' : ''">SKILLS</a>
    <a [routerLink]="[startingValues.name | lowercase, 'equipment']"
      [ngClass]="startingValues.navOpacity === '1' ? 'active' : ''">EQUIPMENT</a>
    <a [routerLink]="[startingValues.name | lowercase, 'story']"
      [ngClass]="startingValues.navOpacity === '1' ? 'active' : ''">STORY</a>
    <a [routerLink]="[startingValues.name | lowercase, 'story']"
      [ngClass]="startingValues.navOpacity === '1' ? 'active' : ''">LOG IN</a>
  </div>
</ng-template>
