<div class="container">

  <img src="../assets/photos/win4.jpg" class="borderr">

  <ng-template [ngIf]="btnActive">
    <img src="../assets/photos/btn.png" class="btnn">
    <img src="../assets/photos/btnActive.png" class="btnActive" (click)="letsStart(); changeMsg();">
  </ng-template>
  <ng-template [ngIf]="startingValues.chooseChar">
    <div class="char" (click)="pickSorc()" [ngClass]="startingValues.activeClass == '1' ? 'active' : ''">
      <img src="../assets/photos/sorc.png" class="sorc" loading="eager">
      <p class="pcharname">SORCERESS</p>
    </div>
    <div class="char" (click)="pickNec()" [ngClass]="startingValues.activeClass == '2' ? 'active' : ''">
      <img src="../assets/photos/neccc.png" class="nec" loading="eager">
      <p class="pcharname">NECROMANCER</p>
    </div>
    <div class="char" (click)="pickAssa()" [ngClass]="startingValues.activeClass == '3' ? 'active' : ''">
      <img src="../assets/photos/assa.png" class="assa" loading="eager">
      <p class="pcharname">ASSASSIN</p>
    </div>
    <div class="char" (click)="pickBarb()" [ngClass]="startingValues.activeClass == '4' ? 'active' : ''">
      <img src="../assets/photos/barb.png" class="barb" loading="eager">
      <p class="pcharname">BARBARIAN</p>

    </div>
  </ng-template>
  <ng-container [ngSwitch]="startingValues.selectedCharacter">
    <div *ngSwitchCase="3">
      <img src="../assets/photos/sorceress/sorcNaked.png" class="sorcNaked fade">
    </div>
    <div *ngSwitchCase="4">
      <img src="../assets/photos/necromancer/necroNaked.png" class="necNaked fade">
    </div>
    <div *ngSwitchCase="5">
      <img src="../assets/photos/assassin/assaNaked.png" class="assaNaked fade">

    </div>
    <div *ngSwitchCase="6">
      <img src="../assets/photos/barbarian/barbNaked.png" class="barbNaked fade">
    </div>
  </ng-container>

  <ng-container *ngIf="startingValues.characterClass === 'ASSASSIN' && dataStorageService.currentCharacter">
    <div *ngIf="equipment.armorCharUrl">
      <img src={{equipment.armorCharUrl}} class="assaNaked" loading="eager">
    </div>

    <div *ngIf="equipment.weaponPicked">
      <img [src]="getAssassinWeaponUrl(equipment.weaponPicked)"
        [class]="getAssassinWeaponClass(equipment.weaponPicked)">
    </div>

    <div *ngIf="equipment.helmPicked">
      <img [src]="getAssassinHelmUrl(equipment.helmPicked)" [class]="getAssassinHelmClass(equipment.helmPicked)">
    </div>
  </ng-container>

  <div [ngSwitch]="equipment.shieldPicked">
    <img *ngSwitchCase="'boneShield'" src="../assets/photos/equipment/shields/boneshield.png"
      class="shieldGlobal boneShield">
    <img *ngSwitchCase="'barbedShield'" src="../assets/photos/equipment/shields/barbedshield.png"
      class="shieldGlobal barbedShield">
    <img *ngSwitchCase="'pavise'" src='../assets/photos/equipment/shields/paewz.png' class="shieldGlobal paviseShield">
  </div>

  <ng-container *ngIf="startingValues.characterClass === 'SORCERESS' && dataStorageService.currentCharacter">
    <div *ngIf="equipment.armorCharUrl">
      <img src={{equipment.armorCharUrl}} class="sorcNaked" loading="eager">
    </div>
  </ng-container>

  <ng-container *ngIf="startingValues.characterClass === 'NECROMANCER' && dataStorageService.currentCharacter">
    <div *ngIf="equipment.armorCharUrl">
      <img src={{equipment.armorCharUrl}} class="necNaked" loading="eager">
    </div>
  </ng-container>

  <ng-container *ngIf="startingValues.characterClass === 'BARBARIAN' && dataStorageService.currentCharacter">
    <div *ngIf="equipment.armorCharUrl">
      <img src={{equipment.armorCharUrl}} class="barbNaked" loading="eager">
    </div>
  </ng-container>

  <ng-container>
    <div *ngIf="startingValues.selectedCharacter === '99'">
      <img [src]="characterService.fetchedCharImg | lowercase" [ngClass]="characterService.charClassCss"
        loading="eager">
    </div>

  </ng-container>


  <p class="characterName" *ngIf="startingValues.isNameVisible"> {{ startingValues.enteredName | uppercase }} </p>
</div>
