<div class="container">
  <img src="../assets/photos/win4.jpg" class="borderr">
  <ng-template [ngIf]="btnActive">
    <img src="../assets/photos/btn.png" class="btnn">
    <img src="../assets/photos/btnActive.png" class="btnActive" (click)="letsStart(); changeMsg();">
  </ng-template>
  <ng-template [ngIf]="startingValues.chooseChar">
    <div class="char" (click)="pickSorc()" [ngClass]="activeClass == '1' ? 'active' : ''">
      <img src="../assets/photos/sorc.png" class="sorc" loading="eager">
      <p class="pcharname">SORCERESS</p>
    </div>
    <div class="char" (click)="pickNec()" [ngClass]="activeClass == '2' ? 'active' : ''">
      <img src="../assets/photos/neccc.png" class="nec" loading="eager">
      <p class="pcharname">NECROMANCER</p>
    </div>
    <div class="char" (click)="pickAssa()" [ngClass]="activeClass == '3' ? 'active' : ''">
      <img src="../assets/photos/assa.png" class="assa" loading="eager">
      <p class="pcharname">ASSASSIN</p>
    </div>
    <div class="char" (click)="pickBarb()" [ngClass]="activeClass == '4' ? 'active' : ''">
      <img src="../assets/photos/barb.png" class="barb" loading="eager">
      <p class="pcharname">BARBARIAN</p>

    </div>
  </ng-template>
  <ng-container [ngSwitch]="startingValues.selectedCharacter">
    <div *ngSwitchCase="3">
      <img src="../assets/photos/sorceress/sorcNaked.png" class="sorcNaked fade">
    </div>
    <div *ngSwitchCase="4">
      <img src="../assets/photos/necromancer/necroNaked.png" class="necNaked fade">
    </div>
    <div *ngSwitchCase="5" class="divAssa">
      <img src="../assets/photos/assassin/assaNaked.png" class="assaNaked fade">

    </div>
    <div *ngSwitchCase="6">
      <img src="../assets/photos/barbarian/barbNaked.png" class="barbNaked fade">
    </div>
  </ng-container>
  <ng-container *ngIf="startingValues.name === 'ASSASSIN'">
    <div *ngIf="equipment.armorCharUrl">
      <img src={{equipment.armorCharUrl}} class="assaNaked" loading="eager">
    </div>
    <!--  <div *ngIf="equipment.armorType === 'medium'">
      <img src="../assets/photos/assa/assaMedium.png" class="assaNaked " loading="eager">
    </div>
    <div *ngIf="equipment.armorType === 'heavy'">
      <img src="../assets/photos/assa/assaHeavy.png" class="assaNaked " loading="eager">
    </div> -->

    <!-- assa armors -->
    <div *ngIf="equipment.weaponPicked === 'claws'"> <img src="../assets/photos/assassin/assaWeapons/assapazury.png"
        class="assaWeapons assaClaws"></div>
    <div *ngIf="equipment.weaponPicked === 'cristalSword'"> <img
        src="../assets/photos/assassin/assaWeapons/assakrysztalowymiecz.png" class=" assaWeapons assaCristal"></div>
    <div *ngIf="equipment.weaponPicked === 'flail'"> <img src="../assets/photos/assassin/assaWeapons/assakorbacz.png"
        class="assaWeapons assaFlail"></div>
    <div *ngIf="equipment.weaponPicked === 'axe'"> <img src="../assets/photos/assassin/assaWeapons/assaaxe.png"
        class="assaWeapons assaAxe"></div>

    <!-- assa helmets -->
    <div *ngIf="equipment.helmPicked === 'tiara'"> <img src="../assets/photos/assassin/assaHelmets/assatiara.png"
        class="assaHelmets assaTiara"></div>
    <div *ngIf="equipment.helmPicked === 'crown'"> <img src="../assets/photos/assassin/assaHelmets/assacrown.png"
        class=" assaHelmets assaCrown"></div>
    <div *ngIf="equipment.helmPicked === 'horned'"> <img src="../assets/photos/assassin/assaHelmets/assarogatyelm.png"
        class="assaHelmets assaHorned"></div>
    <div *ngIf="equipment.helmPicked === 'bone'"> <img src="../assets/photos/assassin/assaHelmets/assabonehelm.png"
        class="assaHelmets assaBone"></div>
  </ng-container>

  <div *ngIf="equipment.shieldPicked === 'boneShield'"> <img src="../assets/photos/equipment/shields/boneshield.png"
      class="shieldGlobal boneShield">
  </div>
  <div *ngIf="equipment.shieldPicked === 'barbedShield'"> <img src="../assets/photos/equipment/shields/barbedshield.png"
      class="shieldGlobal barbedShield">
  </div>
  <div *ngIf="equipment.shieldPicked === 'pavise'"> <img src="../assets/photos/equipment/shields/paewz.png"
      class="shieldGlobal paviseShield">
  </div>

  <ng-container *ngIf="startingValues.name === 'SORCERESS'">
    <div *ngIf="equipment.armorCharUrl">
      <img src={{equipment.armorCharUrl}} class="sorcNaked" loading="eager">
    </div>
  </ng-container>

  <ng-container *ngIf="startingValues.name === 'NECROMANCER'">
    <div *ngIf="equipment.armorCharUrl">
      <img src={{equipment.armorCharUrl}} class="necNaked" loading="eager">
    </div>
  </ng-container>

  <ng-container *ngIf="startingValues.name === 'BARBARIAN'">
    <div *ngIf="equipment.armorCharUrl">
      <img src={{equipment.armorCharUrl}} class="barbNaked" loading="eager">
    </div>
  </ng-container>

</div>
