<div class="container">
  <img src="../assets/photos/win4.jpg" class="borderr">
  <ng-template [ngIf]="btnActive">
    <img src="../assets/photos/btn.png" class="btnn">
    <img src="../assets/photos/btnActive.png" class="btnActive" (click)="letsStart(); changeMsg();">
  </ng-template>
  <ng-template [ngIf]="startingValues.chooseChar">
    <div class="char" (click)="pickSorc()" [ngClass]="activeClass == '1' ? 'active' : ''">
      <img src="../assets/photos/sorc.png" class="sorc">
      <p class="pcharname">SORCERESS</p>
    </div>
    <div class="char" (click)="pickNec()" [ngClass]="activeClass == '2' ? 'active' : ''">
      <img src="../assets/photos/neccc.png" class="nec">
      <p class="pcharname">NECROMANCER</p>
    </div>
    <div class="char" (click)="pickAssa()" [ngClass]="activeClass == '3' ? 'active' : ''">
      <img src="../assets/photos/assa.png" class="assa">
      <p class="pcharname">ASSASSIN</p>
    </div>
    <div class="char" (click)="pickAma()" [ngClass]="activeClass == '4' ? 'active' : ''">
      <img src="../assets/photos/ama.png" class="ama">
      <p class="pcharname">AMAZON</p>

    </div>
  </ng-template>
  <ng-container [ngSwitch]="startingValues.selectedCharacter">
    <div *ngSwitchCase="3">
      <img src="../assets/photos/sorc.png" class="sorc fade">
    </div>
    <div *ngSwitchCase="4">
      <img src="../assets/photos/neccc.png" class="nec fade">
    </div>
    <div *ngSwitchCase="5">
      <img src="../assets/photos/assa/assaNaked.png" class="assaNaked fade">

    </div>
    <div *ngSwitchCase="6">
      <img src="../assets/photos/ama.png" class="ama fade amaa">
    </div>
    <div *ngSwitchCase="7">
      <img src="../assets/photos/assa/assaLight.png" class="assaNaked ">
    </div>
    <div *ngSwitchCase="8">
      <img src="../assets/photos/assa/assaMedium.png" class="assaNaked ">
    </div>
    <div *ngSwitchCase="9">
      <img src="../assets/photos/assa/assaHeavy.png" class="assaNaked ">
    </div>
    <div *ngIf="itemPicked === 'claws'"> <img src="../assets/photos/assa/assaWeapons/assapazury.png"
        class="assaWeapons assaClaws"></div>
    <div *ngIf="itemPicked === 'cristalSword'"> <img src="../assets/photos/assa/assaWeapons/assakrysztalowymiecz.png"
        class=" assaWeapons assaCristal"></div>
    <div *ngIf="itemPicked === 'flail'"> <img src="../assets/photos/assa/assaWeapons/assakorbacz.png"
        class="assaWeapons assaFlail"></div>
    <div *ngIf="itemPicked === 'scimitar'"> <img src="../assets/photos/assa/assaWeapons/assascimitar.png"
        class="assaWeapons assaScimitar"></div>
  </ng-container>

</div>
