h2{
    position: relative;
    color: rgb(211, 211, 211);
    font-size: 3vh;
    text-align: center;
    animation: fadeIn 1s;
    top:3%;
   }


   h3, p , li{
    position: relative;
    color: rgb(211, 211, 211);
    font-size: 2.1vh;
    text-align: center;
    top:3%;
    animation: fadeIn 1s;
   }

h3 {
    margin-top: 8%;
}
li:hover {
    box-shadow: 0px 0px 33px 12px rgba(255, 255, 255, .8);
  transform: scale(1.05);
  border-radius: 10px;
}
.story-intro {
    line-height: 1.6;
    animation: fadeIn 1s;
}

.fadeAnimation {
    animation: fadeIn 1s;
}
   .options-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
  }
  
  .options-list li {
    margin-top: 1%;  
    width: 50%;
    text-align: center;
  }
  
  .option-dot {
    display: inline-block;
    margin-right: 5px;
  }